<!DOCTYPE html>
<html lang="en">
<%-include('./partials/setup.ejs')%>
<body id="artist-page">
    <%-include('./partials/navbar.ejs')%>
    <div id="back-button">
        <button onclick="history.back()"><ion-icon name="chevron-back-outline"></ion-icon></button>
    </div>
    <div id="artist-photo">
        <ion-icon name="person"></ion-icon>
    </div>
    <h3><%=artist%></h3>
    <h4>Top 5:</h4>
    <table id="search-table">
        <thead>
            <tr>
                <th>#</th>
                <th class="mid-th"></th>
                <th class="mid-th">Title</th>
                <th>Album</th>
            </tr>
        </thead>
        <% for(let i=0; i<artistCollection.length && i<5; i++){ %>
            <tr>
                <td><%=i+1%></td>
                <td class="album-td">
                    <div class="song-cover">
                        <form action="/" method="POST">
                            <button class='changeSong' type="submit" name='song' value='<%=artistCollection[i].mp3%>'>
                                <img src="<%=artistCollection[i].albumCover%>" alt="Album Cover">
                            </button>
                        </form>
                    </div>
                </td>
                <td><a href="/song/<%=artistCollection[i]._id%>"><%=artistCollection[i].title%></a></td>
                <td><a href="/<%=artistCollection[i].artist[0]%>/<%=artistCollection[i].album%>"><%=artistCollection[i].album%></a></td>
            </tr>
        <% } %>
    </table>
    <div>
        <h4>Albuns:</h4>
        <div class="playlist-container">
            <% for(let i=0; i<albuns.length;i++){ %>
                <% let info = artistCollection.find(e=> e.album ===albuns[i]) %>
                <%console.log(info)%>
                <div class="playlist-card">
                    <form action="/" method="POST">
                        <button class='changeSong' type="submit" name='song' value='<%=artistCollection[i].mp3%>'>
                            <img src="<%=info.albumCover%>" alt="Album Cover">
                            <div class="hover-play"><ion-icon name="play-sharp"></ion-icon></div>
                        </button>
                    </form>
                    <a href="/<%=artist%>/<%=albuns[i]%>"><%=albuns[i]%></a>
                </div>
            <% } %>
        </div>
    </div>
    <h4>Upcoming Events featuring <%=artist%></h4>
    <div class="event-container">
        <% for(let i=0; i<2;i++){ %>
            <div class="event-card">
                <h5>Event Name</h5>
                <img src="/site/event-2.png" alt="Artist Img">
                <p>Event information</p>
                <div class="Google maps"></div>
            </div>
        <% }%>
    </div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>