<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>
    <!-- Own Style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" 
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" 
    crossorigin="anonymous"></script>
    <script src="/jQuery/player.js" charset="utf-8"></script>
</head>
<body id="player-body">
    <script>
        window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload();
            }
        }
    </script>
    <figure id="footer">
        <div id="music-info">
            <div id="albumCover">
                <% for(let i=0; i< currentPlaylist.songs.length; i++){ %>                
                    <img class='player-album' src="<%=currentPlaylist.songs[i].albumCover%>" alt="Album Cover">
                <% } %>
            </div>
            <div id="info">
                <div id="currentSong">
                    <% for(let i=0; i<currentPlaylist.songs.length; i++){ %>
                        <button class="player-song" value=""><%=currentPlaylist.songs[i].title%></button>
                    <% } %>
                </div>
                <div id="currentArtist">
                    <% for(let i=0; i<currentPlaylist.songs.length; i++){ %>
                        <button class="player-artist" value=""><%=currentPlaylist.songs[i].artist%></button>
                    <% } %>
                </div>
                <div id="currentPlaylist">
                    <button class="player-playlist" value=""><%=currentPlaylist.name%></button>
                </div>
            </div>
        </div>
        <audio id="audio" autoplay>
            <% for(let i=0; i< currentPlaylist.songs.length; i++){ %>
                <source class="background-music" src="<%=currentPlaylist.songs[i].mp3%>" type="audio/mpeg">
            <% } %>
        </audio>
        <div id="player-buttons">
            <div id="player-buttons-container">
                <button id="backplayer"><ion-icon name="play-skip-back-sharp"></ion-icon></button>
                <button id="play-pause"><ion-icon id='play-icon' name="pause-outline"></ion-icon></button>
                <button id="nextplayer"><ion-icon name="play-skip-forward-sharp"></ion-icon></button>
            </div>
            <section>
                <span id="currentTime">--</span>
                <div id="track-time">
                    <div id="left-track-time"></div>
                    <div id="right-track-time"></div>
                </div>
                <span id="totalTime">--</span>
            </section>
        </div>
        <div id="volume">
            <button id="mute"><ion-icon id='mute-icon' name="mic"></ion-icon></button>
            <input type="range" id="volume-slider" value="20">
        </div>
        <script>
            const $audio = document.getElementById("audio");
            $audio.volume = 0.2;
        </script>
    </figure>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>