<!DOCTYPE html>
<html lang="en">
<%- include('./partials/setup.ejs')%>
<body id="profile-page">
    <script>
        window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload();
            }
        }
    </script>
    <%- include('./partials/navbar.ejs')%>
    <h3>My Playlists</h3>
    <% if(currentUser._id==='0'){ %>
        <h4>Too bad you're not logged in ... :( </h4>
    <% } else { %>
        <div class="playlist-container">
            <% for(let i=0;i<currentUser.playlists.length;i++){ %>
                <div class="playlist-card minePlaylist">
                    <form action="/changePlaylist/<%=i%>" method="POST">
                        <button type='submit'>
                            <img src="/site/playlist.png" alt="Playlist Image">
                        </button>
                        <a href="/playlist/<%=i%>"><%=currentUser.playlists[i].name%></a>
                        <p><%=currentUser.playlists[i].songs.length%> songs</p>
                        <div class="hover-play"><ion-icon name="play-sharp"></ion-icon></div>
                    </form>
                </div>
            <% } %>
                <form class='create-playlist' action="/createPlaylist?_method=PUT" method="POST">
                    <input class='input-text' type="text" name="name" placeholder="new playlist name">
                    <button class='create-button' type="submit"><ion-icon name="add-outline"></ion-icon></button>
                </form>
        </div>
    <% } %>
    <h3>Recommended Events</h3>
    <% if(currentUser._id==='0'){ %>
        <h4>Too bad you're not logged in ... :( </h4>
    <% } else { %>
        <div class="event-container">
            <% for(let i=0; i<2;i++){ %>
                <div class="event-card">
                    <h5>Event Name</h5>
                    <img src="/site/event-2.png" alt="Artist Img">
                    <p>Event information</p>
                    <div class="Google maps">Location</div>
                </div>
            <% }%>
        </div>
    <% } %>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>