<!DOCTYPE html>
<html lang="en">
<%- include('./partials/setup.ejs')%>
<body id="search-page">
    <%- include('./partials/navbar.ejs')%>
    <form id='search-form' action="/search" method="POST">
        <input type="text" name="search" placeholder="song, artist, album, ...">
        <button type="submit"><ion-icon name="search-circle"></ion-icon></button>
    </form>
    <table id="search-table">
        <thead>
            <tr>
                <th></th>
                <th class="mid-th">Title</th>
                <th class="mid-th">Artist</th>
                <th class="mid-th">Album</th>
                <th></th>
            </tr>
        </thead>
        <% for(let i=0; i<songs.length && i<10;i++){ %>
            <tr>
                <td class="album-td">
                    <div class="song-cover">
                        <form action="/" method="POST">
                            <button type="submit" class='changeSong' name='song' value='<%=songs[i].mp3%>'>
                                <img src="<%=songs[i].albumCover%>" alt="Album Cover">
                            </button>
                        </form>
                    </div>
                </td>
                <td><a href="/song/<%=songs[i]._id%>"><%=songs[i].title%></a></td>
                <td>
                    <% for(let e=0;e<songs[i].artist.length;e++){ %>
                        <a href="/<%=songs[i].artist[e]%>"><%=songs[i].artist[e]%></a>
                    <% } %>
                </td>
                <td><a href="/<%=songs[i].artist[0]%>/<%=songs[i].album%>"><%=songs[i].album%></a></td>
                <th></th>
            </tr>
        <% } %>
    </table>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>