<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/setup.ejs')%>
<body id="song-page">
    <%- include('./partials/navbar.ejs')%>
    <div id="back-button">
        <button onclick="history.back()"><ion-icon name="chevron-back-outline"></ion-icon></button>
    </div>
    <div class="song-album">
        <form action="/" method="POST">
            <button class='changeSong' type="submit" name='song' value='<%=song.mp3%>'>
                <img src="<%=song.albumCover%>" alt="Album Cover">
                <div class="hover-song"><ion-icon name="play-sharp"></ion-icon></div>
            </button>
        </form>
    </div>
    <h3><%=song.title%></h3>
    <table id="song-table">
        <tr>
            <td class="label">Artist:</td>
            <td class="label-value">
                <% for(let i=0; i<song.artist.length;i++){ %>
                    <a href="/<%=song.artist[i]%>/"><%=song.artist[i]%></a>
                <% } %>
            </td>
        </tr>
        <tr>
            <td class="label">Album:</td>
            <td class="label-value">
                <a href="/<%=song.artist[0]%>/<%=song.album%>"><%=song.album%></a>
            </td>
        </tr>
        <tr>
            <td class="label">Year:</td>
            <td class="label-value"><%=song.year%></td>
        </tr>
        <tr>
            <td class="label">Track N°:</td>
            <td class="label-value"><%=song.songNum%></td>
        </tr>
        <tr>
            <td class="label">Genre:</td>
            <td class="label-value"><%=song.genre%></td>
        </tr>
    </table>
    <h4>Upcoming Events of <%=song.genre%> Music near you</h4>
    <div class="event-container">
        <% for(let i=0; i<2;i++){ %>
            <div class="event-card">
                <h5>Event Name</h5>
                <img src="/site/event-2.png" alt="Artist Img">
                <p>Event information</p>
                <div class="Google maps">Location</div>
            </div>
        <% }%>
    </div>
    <% for(let i=0; i<song.artist.length;i++){ %>
        <h4>Upcoming Events featuring <%=song.artist[i]%></h4>
        <div class="event-container">
            <% for(let i=0; i<2;i++){ %>
                <div class="event-card">
                    <h5>Event Name</h5>
                    <img src="/site/event-2.png" alt="Artist Img">
                    <p>Event information</p>
                    <div class="Google maps">Location</div>
                </div>
            <% }%>
        </div>
    <% } %>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>